{% extends "base.html" %}

{% load staticfiles %}
{% load edit_link %}
{% block content %}
<div>
        {% if user.is_authenticated %}
            <a href="{% url 'register' %}" style="margin-left: 80%;">Edit</a>
            <a href="{% url 'logout' %}" style="margin-left: 80%;">Logout</a>
        {% else %}
            <a href="{% url 'login' %}?next={{request.path}}" style="margin-left: 80%;">Login</a>
        {% endif %}
    <div class="col-sm-6 pull-left">
        <h3>Name: {{data.name}}</h3>
        <h3>Last name: {{data.surname}}</h3>
        <h3>Date of birth: {{data.birth_date}}</h3>
        <h3>Bio: {{data.bio}}</h3>
        <h3>Photo:</h3>
        {% if data.photo %}
            <img class="picture" src="{{ data.photo.url }}">
        {% else %}
            <img class="picture" src="{% static 'images/blank_photo.jpg' %}">
        {% endif %}
    </div>
    <div class="col-sm-6 pull-right">
        <a href="{% url 'register' %}" style="margin-left: 58%;">|Edit object|</a>
        <a href="{% edit_link data %}">|Admin page|</a>
        <h3>Email: {{ data.email }}</h3>
        <h3>Jabber ID: {{ data.jabber }}</h3>
        <h3>Skype: {{ data.skype }}</h3>
        <h3>Other contacts: {{data.contacts}}</h3>
    </div>
</div>
{% endblock %}

