{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/forms.js' %}"></script>
    <script src="http://malsup.github.com/jquery.form.js"></script>
    <script type="text/javascript">
        window._URLS = {
            register : "{% url 'register' %}"
        }
    </script>
    <script>
        $(function() {
            $( "#id_birth_date" ).datepicker({ dateFormat: 'yy-mm-dd' });
        });
  </script>
{% endblock %}

{% block content %}
<div id="register_page">
    <form name="register" method="POST" enctype="multipart/form-data" id="register_form">
    {% csrf_token %}
        <div class="row">
            <div class=".col-xs-6 .col-md-6">
                <p><label class="one">Name:</label>{{ form.name }}</p>
                <p><label class="one">Surname:</label>{{ form.surname }}</p>
                <p><label class="one">Date of birth:</label>{{ form.birth_date }}</p>
                <p><label class="one">Photo:</label>{{ form.photo }}</p>
                <p>
                    {% if form.photo.value != '' %}
                        <img class="picture" src="{{ MEDIA.URL }}{{ form.photo.value }}" style="margin-left: 27%;">
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class=".col-xs-6 .col-md-6">
                <p><label class="two int_con">Email:</label>{{ form.email }}</p>
                <p><label class="two int_con">Jabber:</label>{{ form.jabber }}</p>
                <p><label class="two int_con">Skype:</label>{{ form.skype }}</p>
                <p class="formfield" style="margin-top: 10%;"><label class="two contacts">Contacts:</label>{{ form.contacts }}</p>
                <p class="formfield"><label class="two bio">Bio:</label>{{ form.bio }}</p>
            </div>
        </div>
        <div class="row" style="margin-right: 20%;">
            <div class=".col-xs-6">
                <button type="submit" id="btn-save" class="btns">Save</button>
                <a href="{% url 'index' %}"><button type="button" class="btns">Cancel</button></a>
                <span style="display: none;" id="loading">Loading....</span>
                <span style="display: none;" id="form_error">ERROR! Fill all fields and try again.</span>
                <span style="display: none;" id="form_complete">Success</span>
            </div>
        </div>
    </form>
</div>
{% endblock %}