{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
    <script type="text/javascript">
        window._URLS = {
            req : "{% url 'requests' %}"
        }
    </script>
{% endblock %}

{% block content %}
    <div id="full">
        <div id="content">
            <title id="title">({{ new_requests.count }}) : requests</title>
            <h2><a href="{% url 'index' %}">Home</a></h2>
            <h2>({{ new_requests.count }}) : requests</h2>
            <hr>
            {% for req in request_list %}
                <form name="choices" method="POST">{% csrf_token %}
                    Priority: {{ form.priority }}
                    <input name="id" type="hidden" value="{{ req.id }}">
                </form>
                <div id="list">
                    "{{ req.request_method }}
                    {{ req.path }}
                    {{ req.server_protocol }}"
                    {{ req.status_code }}
                    {{ req.content_len }}
                    <hr>
                    </font>
                    <br>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}






