{% extends "base.html" %}
{% load staticfiles %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/requests.js' %}"></script>
    <script type="text/javascript">
        window._URLS = {
            req : "{% url 'requests' %}"
        }
    </script>
{% endblock %}

{% block content %}
    <div id="full">
        <div id="content">
            <title id="title">({{ new_requests.count }}) : requests</title>
            <h2><a href="{% url 'index' %}">Home</a></h2>
            <h2>({{ new_requests.count }}) : requests</h2>
            <hr>
            <form name="choices" method="POST">{% csrf_token %}
            {% for req in request_list %}
                Priority: {{ req.priority }}
                <div class="menu">Change priority: {{ form.priority }}</div>
                <input name="id" type="hidden" value="{{ req.id }}">
                <div id="list">
                    "{{ req.request_method }}
                    {{ req.path }}
                    {{ req.server_protocol }}"
                    {{ req.status_code }}
                    {{ req.content_len }}
                    <hr>
                    </font>
                    <br>
                </div>
            {% endfor %}
                <button type="submit" id="btn-save">Save</button>
            </form>
        </div>
    </div>
{% endblock %}






